# Виртуальное окружение
djvenv/

# Файлы Python байт-кода
*.pyc
__pycache__/

# Файл базы данных SQLite (если используешь SQLite)
db.sqlite3

# Папки VSCode и другие IDE
.vscode/

# Статические файлы и медиа (если генерируются локально)
static/
media/

# Логи и временные файлы
*.log
*.pot
*.py[cod]
*$py.class

sitewomen/db.json